body {
margin: 0;
padding: 10px;
}
body, td, input, select, textarea {
font: 12px Tahoma, Verdana;
}
body, .BackColor {
	background-color: #f5fbff;
}
.PopupBody {
	margin: 0;
	padding: 0;
}
input{
	border: #CCCCCC solid 1px;
	height:20px;
}
.PopupTitle {
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	padding: 3px 10px;
	background-color: #CAE4FF;
}
.PopupButtons {
	padding: 7px 10px;
	background-color: #CAE4FF;
	border:#F0F0F0 solid 1px;
}
.Button {
	border: #737357 1px solid;
	color: #3b3b1f;
	background-color: #f5fbff;
}
#btnOk {
width: 100px;
}
.PopupTitleBorder {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f5fbff;
}